<!doctype html>
<title>{% block title %}{% endblock %}</title>
 <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='imagenes/logo_itc.jfif')}}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>	
{% block script %}

{% endblock %}

<section class="content">
	<header>


 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>


    <!-- DatePicker-->

    <script type="text/javascript" src="../../static/lib/selector-fecha/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript" src="../../static/lib/selector-fecha/locales/bootstrap-datepicker.es.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../static/lib/selector-fecha/css/bootstrap-datepicker.min.css">


    <!-- -->

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="
{% if g.user['fk_rol']==1 %}
{{url_for('todo.admin')}}
{% elif g.user['fk_rol']==2 %}
{{url_for('todo.prof_page')}}
{% elif g.user['fk_rol']==3 %}
{{url_for('todo.est_page')}}
{% endif %}

    "><img src="{{ url_for('static',filename='imagenes/logo_itc.jfif') }}" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Tutorías</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      
       
{% if g.user['fk_rol']==1 %}
       
         
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="gr" name="gr" >
            Estudiantes
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <form method="POST" >
             
            <li><a class="dropdown-item" href="{{url_for('todo.reg_es')}}">Nuevo</a></li>
            <li><a class="dropdown-item" href="#">Eliminar</a></li>
            <li><a class="dropdown-item" href="{{url_for('todo.bus_in_es')}}">Buscar</a></li>
            <li><a class="dropdown-item" href="#">Editar</a></li>
            <li><a class="dropdown-item" href="{{url_for('todo.cons_gral_es')}}">Consultar</a></li>
            </form>
            
          </ul>
        </li>


       
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="gr" name="gr" >
            Profesores
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <form method="POST" >
             
            <li><a class="dropdown-item" href="{{url_for('todo.reg_prof')}}">Nuevo</a></li>
            <li><a class="dropdown-item" href="#">Eliminar</a></li>
            <li><a class="dropdown-item" href="#">Buscar</a></li>
            <li><a class="dropdown-item" href="#">Editar</a></li>
            <li><a class="dropdown-item" href="#">Consultar</a></li>
            </form>
            
          </ul>
        </li>

        
           <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="gr" name="gr" >
            Grupos
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <form method="POST" >
             
            <li><a class="dropdown-item" href="{{url_for('todo.nuevo_grupo')}}">Nuevo</a></li>
            <li><a class="dropdown-item" href="#">Eliminar</a></li>
            <li><a class="dropdown-item" href="#">Buscar</a></li>
            <li><a class="dropdown-item" href="#">Editar</a></li>
            <li><a class="dropdown-item" href="#">Consultar</a></li>
            </form>
            
          </ul>
        </li>
             <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="gr" name="gr" >
            Anuncios
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <form method="POST" >
             
            <li><a class="dropdown-item" href="{{url_for('todo.nuevo_grupo')}}">Nuevo</a></li>
            <li><a class="dropdown-item" href="#">Eliminar</a></li>
            <li><a class="dropdown-item" href="#">Buscar</a></li>
            <li><a class="dropdown-item" href="#">Editar</a></li>
            <li><a class="dropdown-item" href="#">Consultar</a></li>
            </form>
            
          </ul>
        </li>


            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="gr" name="gr" >
            Actividades
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <form method="POST" >
             
            <li><a class="dropdown-item" href="{{url_for('todo.nueva_activi')}}">Nuevo</a></li>
            <li><a class="dropdown-item" href="#">Eliminar</a></li>
            <li><a class="dropdown-item" href="#">Buscar</a></li>
            <li><a class="dropdown-item" href="#">Editar</a></li>
            <li><a class="dropdown-item" href="#">Consultar</a></li>
            </form>
            
          </ul>
        </li>
           
         
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="gr" name="gr" >
            Especialidades
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <form method="POST" >
             
            <li><a class="dropdown-item" href="#">Nuevo</a></li>
            <li><a class="dropdown-item" href="#">Eliminar</a></li>
            <li><a class="dropdown-item" href="#">Buscar</a></li>
            <li><a class="dropdown-item" href="#">Editar</a></li>
            <li><a class="dropdown-item" href="#">Consultar</a></li>
            </form>
            
          </ul>
        </li>   
         

            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="gr" name="gr" >
            Carreras
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <form method="POST" >
             
            <li><a class="dropdown-item" href="#">Nuevo</a></li>
            <li><a class="dropdown-item" href="#">Eliminar</a></li>
            <li><a class="dropdown-item" href="#">Buscar</a></li>
            <li><a class="dropdown-item" href="#">Editar</a></li>
            <li><a class="dropdown-item" href="#">Consultar</a></li>
            </form>
            
          </ul>
        </li>

     
       {% endif %}

{% if g.user['fk_rol']==3 %}
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actividades
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <form method="POST">
            <li><a class="dropdown-item" href="{{ url_for('todo.act_pen') }}">Pendientes <span class="badge bg-primary rounded-pill">*</span></a></li>
            
            <li><a class="dropdown-item" href="{{ url_for('todo.act_pas') }}">Actividades Anteriores</a></li>
            
            <li><a class="dropdown-item" href="#">Evaluaciones</a></li>
            </form>
          </ul>

          
          

          
        </li>

            <li class="nav-item ">
          <a class="nav-link" href="{{ url_for('todo.ver_guia_pdf') }}" id="navbarDropdownMenuLink" role="button" aria-expanded="false" >
            Guia de Trabajo
          </a>

      
        </li>  

{% endif %}


 

       
{% block header %} 

{% endblock %}
</ul>
    </div>
    {% if g.user %}
    <form class="d-flex" action="{{url_for('auth.logout')}}">
      <a class="nav-link disabled">{{g.user['username']}}</a>
      <button class="btn btn-secondary" type="submit">Cerrar Sesion</button>
    </form>
    {% endif %}
  </div>
    
</nav>
 
	</header>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}

     <div class="alert alert-{{category}}" role="alert">
  
		     {% if category == 'warning' %}

<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  
  
		  {% elif category == 'danger' %}
		  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  
 
		  {% elif category == 'info' %}
<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
  
		  {% elif category == 'success' %}
<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  

		     {% endif %}
		  
 {{message}}
		</div>

    {% endfor %}
  {% endif %}
{% endwith %}


{% block content %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}
</section>


