{% extends 'base.html' %}
{% block header %}
	
	<link href=" {{ url_for('static',filename='styles/login_style.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="box">
		<h1>{% block title %}REGISTRO PROFESOR{% endblock %}</h1>
		<form method="POST">
		<label for='name'>Nombre</label>
		<input  type="text" name="name" id="name" required>

		<label for='lastname'>Apellidos</label>
		<input type="text" name="lastname" id="lastname" required>

		<label for='nc'>Numero de control</label>
		<input type="text" name="nc" id="nc" required>

		<label for='email'>Correo</label>
		<input type="text" name="email" id="email" required>

		<label for='username'>Usuario</label>
		<input type="text" name="username" id="Username" required>

		<label for='password'>Contraseña</label>
		<input type="text" type="password"name="password" id="password" required>

		<input type="submit" value="Registrarse">
	</form>
	</div>
{% endblock %}