body{
	background-color: #eee; /*Color de fondo*/
	} 

nav ul{
	list-style-type:none;/*eliminar cosas*/
	margin:0; 
	padding:0;/*reiniciar contenido de lista*/
	overflow: hidden;
	position: fixed;/*posicion fija*/
	top:0;/*parte superior de la barra*/
	left: 0;
	width: 100%;
	background-color: #333;
}

nav li{
	float:left;

}
nav li a{ /*estilo a los links */
display: block;
color:white;
text-align: center;
padding: 14px;
text-decoration: none;

}
nav li span{ /*estilo a los links */
display: block;
color:white;
text-align: center;
padding: 14px;
text-decoration: none;

}
nav li:hover{ /*Color la barra pasando mause*/
background-color: rgba(0,0,0,0.3);
}
.active{ /*Clase par fondo se pone en index pedendiendo
	el titulo*/
	background-color: #4CAF50;
}
.content{
	margin-top: 55px;
}
