{% extends 'base.html' %}

{% block header %}



{% endblock %}

{% block content %}


<div class="container-fluid container"> 
<div class="row">
  <div class="col-4">
    
  <form method="POST" action="{{ url_for('todo.bus_es')}}">
    
      <h3 class="display-6">Criterio de busqueda</h3>

    <label for="car" class="form-label">Carrera</label>

<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
  
    {% for grupo in grupos %}
<option id="cc" name="cc" value="{{grupo['codigo']}}">
{{grupo['titulo']}}
</option>
  {% endfor %}
</select>
  



  <label for="exampleDataList" class="form-label">Grupo</label>
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="gc" name="gc">
  <label for="floatingInput">Clave de Grupo</label>
</div>

<br>
 <label for="exampleDataList" class="form-label">Nombre</label>
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="gc" name="gc">
  <label for="floatingInput">Nombre</label>
</div>

<br>
 <label for="exampleDataList" class="form-label">Apellido</label>
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="gc" name="gc">
  <label for="floatingInput">Apellido</label>
</div>

<br>

<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary btn-lg" type="submit button">Buscar</button>
  
</div>

  </form>
  </div>
    <div class="col-8">
      


      <table class="table caption-top">
  <h3 class="display-5 text-center">{% block title %}Estudiantes{% endblock %}</h3>
  
  <thead>
    <tr>
      <th scope="col">NC</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Carrera</th>
    </tr>
  </thead>
  <tbody>
{% for r in res %}
    <tr>
      <th scope="row">{{r['nc']}}</th>
      <td>{{r['es_nom']}}</td>
      <td>{{r['es_apellidos']}}</td>
      <td>{{r['fkuser']}}</td>
    </tr>
{% endfor %}
  
  </tbody>
</table>


    </div>
    
  </div>



</div>

	


{% endblock %}