 {% extends 'base.html' %}
{% block header %}
	
{% endblock %}

{% block content %}
<div class="container">
	<h1 class="display-5 text-center">{% block title %}Nuevo Anuncio{% endblock %}</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col">
     <form method="POST" action="{{ url_for('todo.anuncio_agregado')}}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Titulo</label>
    <input type="text" class="form-control" name="title" id="title" required>
    
  </div>
  <div class="mb-3">
    
  <div class="form-floating">
  <textarea class="form-control" placeholder="Describe la actividad" name="content" id="content" style="height: 100px" ></textarea>
  <label for="floatingTextarea2">Descripcion</label>
</div>

  </div>
 
  <div class="mb-3">
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="group" name="group">
    <option value="Selecciona">Selecciona....</option>
    {% for grupo in grupos %}

    <option name="group" id="group" >{{ grupo['gru_clave'] }}</option>
    {% endfor %}
    </select>

   
  </div>

  
    </div>
    <div class="col">
      
      
<div class="mb-3">
<div class="form-check">
  <input class="form-check-input" type="checkbox" id="visi" name="visi">
  <label class="form-check-label" for="defaultCheck1">
    Visible
  </label>

      

 <div class="mb-3">
<button type="submit" class="btn btn-primary">Subir Actividad</button>
</div>
  
</form>

    </div>
<script src="../../static/js/app.js" type="text/javascript"></script>





</div>
    </div>
  </div>

	







{% endblock %}