
{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
	

{% endblock %}

{% block content %}


<div class="container-fluid">
	
	<div class="row">
    <div class="col-8">
    	<h1 class="display-5 text-center">{% block title %}Revisar actividad{% endblock %}</h1>

    	<embed src="../../static/files/{{ruta}}" type="application/pdf" width="100%" height="600px" />

    </div>
    <div class="col-4">
    	
	<dl class="row">
  <dt class="col-sm-3">Titulo</dt>
  <dd class="col-sm-9">{{revision['titulo']}}</dd>

  <dt class="col-sm-3">Descripcion</dt>
  <dd class="col-sm-9">
    <p>{{revision['descripcion']}}</p>

  </dd>



  <dt class="col-sm-3">Alumno</dt>
  <dd class="col-sm-9">
    <dl class="row">
      <dt class="col-sm-4">{{revision['es_nom']}} {{revision['es_apellidos']}}</dt>
      <dd class="col-sm-8">Entregado: {{revision['entrega']}}</dd>
    </dl>
  </dd>
</dl>
<form method="POST" action="{{ url_for('todo.revisado',acid=revision['acid'],nc=revision['nc']) }}">

<hr>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Puntuacion</label>
    <div class="form-floating">
  <select class="form-select" name="sel" id="sel" aria-label="Floating label select example">
    <option selected>Selecciona una calificacion</option>
   	<option value="0">Cero </option>
    <option value="1">No suficiente</option>
    <option value="2">Suficiente</option>
    <option value="3">Bien</option>
    <option value="4">Muy bien</option>
    <option value="5">Excelente</option>
  </select>
  <label for="sel">Agrega una calificacion</label>
</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Comentario</label>
    <div class="form-floating">
  <textarea class="form-control" placeholder="Deja un Comentario" name="comment" id="comment" style="height: 100px"></textarea>
  <label for="comment">Agregar Comentario</label>
  <br>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button submit">Hecho</button>
</div>
  
</div>
  </div>
  <br>
  
  <br>
</form>


    </div>
  </div>

		
	
	
</div>
	
	
{% endblock %}