{% extends 'base.html' %}

{% block header %}


{% endblock %}

{% block content %}
<ul>


<div class="card text-center">
	
  
  <div class="card-header">
    Anuncios
  </div>

  <div class="card-body">
  	<img src="https://picsum.photos/350/150" class="card-img-top" alt="...">
    <h5 class="card-title">Alguna beca</h5>
    <p class="card-text">Requisitos</p>
    <a href="#" class="btn btn-primary">Ver mas</a>
  </div>
  <div class="card-footer text-muted">
    Fecha de subida
  </div>
  <div class="card-body">
  	<img src="https://picsum.photos/300/100" class="card-img-top" alt="...">
    <h5 class="card-title">Algun aviso</h5>
    <p class="card-text">Descripcion</p>
    <a href="#" class="btn btn-primary">Ver mas</a>
  </div>
  <div class="card-footer text-muted">
    Fecha de subida
  </div>
</div>
	

</ul>

{% endblock %}