{% extends 'base.html' %}

{% block header %}

<h1>{% block title %}Actividades{% endblock %}</h1>
{% if g.user %}
<a href="{{ url_for('todo.create')}}" class="action">Nuevo</a>
{% endif %}
{% endblock %}

{% block content %}
<ul>
	{% for actividad in activity %}
	<li class="todo">
	<div>

		<div class="about">
			
			<form action="{{ url_for('todo.uploader') }}" method="POST" enctype="multipart/form-data">
			<input type="text" name="title" id="title" value="{{actividad['titulo']}}">
			<input type="text" name="codeg" id="codeg" value="{{actividad['Clave']}}">
			<input type="text" name="esname" id="esname" value="{{actividad['nom']}}">
			<input type="text" name="eslast" id="eslast" value="{{actividad['app']}}">
			
			<h2>Profesor: {{actividad['titular']}}</h2>
			<p>{{actividad['descripcion']}}</p>
		 	<input type="file" name="archivo">
		 	<input type="submit">
			</form>
		</div>
		
		
	</div>
	</li>
	{% if not loop.last %}
	<hr>
	{% endif %}
	{% endfor %}
	

</ul>

{% endblock %}