{% extends 'base.html' %}
{% block header %}
	
{% endblock %}

{% block content %}
<h1>{% block title %}Nueva actividad{% endblock %}</h1>
<hr>
	<form method="POST" action="{{ url_for('todo.actividad_novo')}} ">
		

		<label for='title'>Titulo:</label>
		<input  name="title" id="title" required>

		<label for='content'>Contenido</label>
		<input  name="content" id="content" required>

		<input  name="group" id="group" required value="{{gr}}">
		<input  type="submit" value="Subir actividad">
<h3>Criterio a Evaluar</h3>
<hr/>
<label>0=Cero</label>
<textarea name="v0" id="v0"></textarea>
<hr/>
<label>1=No suficiente</label>
<textarea name="v1" id="v1"></textarea>
<hr/>
<label>2=Suficiente</label>
<textarea name="v2" id="v2"></textarea>
<hr/>
<label>3=Bien</label>
<textarea name="v3" id="v3"></textarea>
<hr/>
<label>4=Muy Bien</label>
<textarea name="v4" id="v4"></textarea>
<hr/>
<label>5=Excelente</label>
<textarea name="v5" id="v5"></textarea>

		
	</form>
{% endblock %}