{% extends 'base.html' %}
{% block header %}
	<h1>{% block title %}Nueva actividad{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="POST" action="{{ url_for('todo.actividad_novo')}} ">
		

		<label for='title'>Titulo:</label>
		<input  name="title" id="title" required>

		<label for='content'>Conenido</label>
		<input  name="content" id="content" required>

		<input  name="group" id="group" required value="{{gc}}">
		

		<input  type="submit" value="Subir actividad">
	</form>
{% endblock %}