{% extends 'base.html' %}
{% block header %}
	
{% endblock %}

{% block content %}
<div class="container">
	<h1 class="display-5 text-center">{% block title %}Nueva actividad{% endblock %}</h1>
<hr>
	<form method="POST" action="{{ url_for('todo.actividad_novo')}}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Titulo</label>
    <input type="text" class="form-control" name="title" id="title" required>
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Descripcion</label>
    <input type="text" class="form-control" name="content" id="content">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Grupo</label>
    <input type="text" class="form-control" name="group" id="group" readonly value="{{gr}}">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Volver Invisible</label>
  </div>
 <div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="v0" name="v0" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Rubrica #0</label>
</div>

<br>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="v1" name="v1" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Rubrica 1</label>
</div>
<br>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="v2" name="v2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Rubrica #2</label>
</div>
<br>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="v3" name="v3" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Rubrica #3</label>
</div>
<br>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="v4" name="v4" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Rubrica #4</label>
</div>
<br>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="v5" name="v5" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Rubrica #5</label>
</div>
  <button type="submit" class="btn btn-primary">Subir Actividad</button>
</form>

</div>


{% endblock %}