{% extends 'base.html' %}
{% block header %}
	
{% endblock %}

{% block content %}
	<h1>{% block title %}Revisar actividades{% endblock %}</h1>
	<h2>Grupo {{gc}}</h2>
		

		{% for actividad in activity %}
		<form method="POST" action="{{ url_for('todo.revi_gru',acid=actividad['acid'],gc=actividad['gruid'])}}">
	
		<label for='title'>Titulo:</label>
		<input  name="title" id="title" value="{{actividad['titulo']}}">

		<label for='content'>Descripcion</label>
		<textarea name="content" id="content">{{actividad['des']}}</textarea>
	
		<input  type="submit" value="Revisar actividad">
		</form>
		{% if not loop.last %}
	<hr>
	{% endif %}
	{% endfor %}
	
{% endblock %}