{% extends 'base.html' %}
{% block header %}
	
{% endblock %}

{% block content %}
	
		
<div class="table-responsive container-fluid">


	<h1 class="display-5 text-center">{% block title %}Revisar actividades{% endblock %}</h1>
	<d1>
<dt class="col-sm-2">Detalles</dt>
  <dd class="col-sm-5">
    <p>Grupo "{{gc}}"</p>
    <p>Actividad: {{tt}}</p>
  </dd>
	</d1>
	
		  <table class="table table-striped table-hover">
		    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Estudiante</th>
      <th scope="col">N.C.</th>
      <th scope="col">Estado</th>
      <th scope="col">Revisar</th>
      <th scope="col">Puntuacion</th>
    </tr>
  </thead>
		{% for actividad in todo %}

		
  <tbody>
  	<form method="POST" action="{{ url_for('todo.rev_ind',nc=actividad['nc'],acid=actividad['acid'])}}" >
    <tr>
      <th scope="row">1</th>
      <td>{{actividad['nom']}}</td>
      <td>{{actividad['nc']}}</td>
      <td>{% if actividad['entrega']==1 %} Entregado {% else %} Pendiente {% endif %}</td>
      <td>
      	<input type="submit" class="submit btn btn-info" value="Revisar">
      </td>
      <td>{% if actividad['pp'] == -1 %}Pendiente{% else %} {{actividad['pp']}} {% endif %}</td>
    </tr>
    </form>
  
		
		{% if not loop.last %}
	
	{% endif %}
	{% endfor %}
	</tbody>
		  </table>
		</div>
{% endblock %}