{% extends 'base.html' %}

{% block header %}


{% endblock %}

{% block content %}
<div class="container-sm">
   <h1 class="text-center fs-1">Cuaderno de Trabajo de Tutoria del Estudiante</h1>


<div class="container-fluid">

<div class="card text-center">
  <div class="card-header">
    Guia
  </div>
  <div class="card-body">
    <embed src="../../static/docs/CUADERNO-DE-TRABAJO-DE-TUTORIA-DEL-ESTUDIANTE.pdf" type="application/pdf" width="100%" height="600px" />
    
     
  </div>

</div>


  



</div>

 </form>



</div>
{% endblock %}