{% extends 'base.html' %}

{% block header %}


{% endblock %}

{% block content %}
<div class="container-sm">
   <h1 class="text-center fs-1">Actividades Pasadas</h1>
{% for activ in activity %}

<form method="POST" action="{{ url_for('todo.ac_vis_full',acid=activ['acid']) }}" >
<div class="container-fluid">

<div class="card text-center">
  <div class="card-header">
    Actividad
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ activ['titulo'] }}</h5>
    <p class="card-text">{{ activ['descripcion'] }}</p>
    
      <button class="btn btn-warning center" type="submit" >Revisar</button>
  </div>
  <div class="card-footer text-muted">
   <label  class="form-label">Progreso</label>
<div class="progress">

  

    {% if activ['pun']==-1 or ac == None %}


<div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Pendiente</div>



    {% elif activ['pun']==0 %}
<div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 10%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Cero</div>


    {% elif activ['pun']==1 %}
<div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 20%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">No suficiente</div>

    {% elif activ['pun']==2 %}
 <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Suficiente</div>

    {% elif activ['pun']==3 %}
<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Bien</div>

    {% elif activ['pun']==4 %}
    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Muy bien</div>


    {% elif activ['pun']==5  %}
<div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Excelente</div>

    {% endif %}

   </div>
  </div>
</div>


  



</div>

 </form>
<hr>


{% endfor %}

{% if not activity %}
<h2 class="display-3 text-center">No hay actividades pendientes </h2>


  <img src="https://www.freeiconspng.com/uploads/pikachu-transparent-29.gif" class="img-fluid float-center" alt="Ups!">
  {% endif %}

</div>
{% endblock %}