
{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
	

{% endblock %}

{% block content %}
<div class="container-fluid">
	
	
    	

    <div class="container">
  <div class="row">
    <h1 class="display-5 text-center">{% block title %}Revisar actividad{% endblock %}</h1>
    <div class="col">
   <dl class="row">
  <dt class="col-sm-3">Titulo</dt>
  <dd class="col-sm-9">{{ac['titulo']}}</dd>

  <dt class="col-sm-3">Descripcion</dt>
  <dd class="col-sm-9">
    <p>{{ac['descripcion']}}</p>
  </dd>

</dl>
    </div>
    <div class="col">

		
	
	
</div>
	 
  
</div>
<hr>
  <div class="mb-3">
    <label  class="form-label">Progreso</label>
<div class="progress">

  

    {% if ac['pun']==-1 or ac == None %}

<div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Pendiente</div>



    {% elif ac['pun']==0 %}
<div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 10%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Cero</div>


    {% elif ac['pun']==1 %}
<div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 20%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">No suficiente</div>

    {% elif ac['pun']==2 %}
 <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Suficiente</div>

    {% elif ac['pun']==3 %}
<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Bien</div>

    {% elif ac['pun']==4 %}
    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Muy bien</div>


    {% elif ac['pun']==5  %}
<div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Excelente</div>

    {% endif %}

   </div>


   


   
  
<div class="row">

    <div class="col">
     <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Comentario Profesor</label>
    <div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" readonly>{% if ac['pc'] != None %}
{{ac['pc']}}

{% endif %}

  </textarea>
<br>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('todo.uploader',acid=ac['acid'],name=ac['nom'],last=ac['app'],gr=ac['gc'],titulo=ac['titulo']) }}">
 <div>
  <label for="formFileLg" class="form-label" >Elegir Archivo</label>
 <input class="form-control" type="file" id="file" name="file" 
 {% if ac['en']==1 %} disabled {% endif %} oninput="filesize(this);">
</div>
<br>
<div class="d-grid gap-2">
  <button type="button submit" class="btn btn-success" {% if ac['en']==1 %} disabled {% endif %}>Subir Entrega</button>

</div>
  <br>
  
</div>
  </div>
    </div>
    <div class="col">
     <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Comentario</label>
  
      <div class="form-floating">

  <textarea class="form-control" placeholder="Leave a comment here"  style="height: 100px" name="comment" id="comment"></textarea>
  <br>
  <button type="button" class="btn btn-info">Agregar Comentario</button>

  <br>
  
</div>

   
   </form>
  
  </div>
    </div>
  </div>
  
  <br>
	
{% endblock %}
{% block script %}

<script>

  function filesize(elem){
    document.cookie = `filesize=${elem.files[0].size}`
  }

</script>

{% endblock %}