{% extends 'base.html' %}

{% block header %}
 {% if g.user['fk_rol']==3 %}
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actividades
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Pendientes</a></li>
            <li><a class="dropdown-item" href="#">Revisar Actividades</a></li>
            <li><a class="dropdown-item" href="#">Evaluaciones</a></li>
            
          </ul>
        </li>
{% endif %}

{% endblock %}

{% block content %}
<div class="container-sm">
  
{% for activ in activity %}
<form method="POST" action="{{ url_for('todo.uploader',acid=activ['acid'],name=activ['nom'],last=activ['app'],gr=activ['gr'],titulo=activ['titulo']) }}" enctype="multipart/form-data">
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Titulo</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ activ['titulo'] }}">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Descripcion</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" value="{{ activ['descripcion'] }}" disabled>
    </div>
  </div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Rubrica</h5>
    
    <p class="card-text">Aqui va la rubrica</p>
    
  </div>
</div>

  <div>
  <label for="formFileLg" class="form-label">Elegir Archivo</label>
 <input class="form-control" type="file" id="archivo" name="archivo">
</div>
<br>

<div class="mb-3 row">
  <div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea comment" name="comment"></textarea>
  <label for="floatingTextarea">Commentario</label>
</div>
    
  </div>
  <div class="col-12">
    <button class="btn btn-success center" type="submit" >Subir</button>
    <button class="btn btn-warning center" type="submit" >Abrir</button>
    
  </div>
 <br>
  <div class="progress">

  <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Suficiente</div>
</div>
 </form>
<hr>
{% endfor %}
</div>
{% endblock %}