
{% extends 'base.html' %}
{% block header %}
	<h1>{% block title %}Revisar actividad{% endblock %}</h1>
	<h2>Estudiante: {{revision['es_nom']}} {{revision['es_apellidos']}}</h2>
	<h2>Titulo {{revision['titulo']}}</h2>
	<h2>Descripcion {{revision['descripcion']}}</h2>
	<h2>Fecha de entrega {{revision['entrega']}}</h2>
{% endblock %}

{% block content %}
	
	<iframe src="http://docs.google.com/gview?url=
http://www.educoas.org/portal/bdigital/contenido/valzacchi/ValzacchiCapitulo-2New.pdf
&embedded=true" style="width:100%; height:700px;" frameborder="0" ></iframe>
	
{% endblock %}